<nav class="sidebar bg-light">
  <ul class="nav flex-column p-2">
    <li class="nav-item"><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
    <li class="nav-item"><NavLink href="/address">Address</NavLink></li>
    <li class="nav-item"><NavLink href="/transaction">Transaction</NavLink></li>
    <li class="nav-item"><NavLink href="/compliance">Compliance</NavLink></li>
    <li class="nav-item"><NavLink href="/psbt">PSBT</NavLink></li>
    <li class="nav-item"><NavLink href="/watchonly">Watch-Only</NavLink></li>
  </ul>
</nav>
